.music-list {
	grid-area: list;
	border: 1px solid rgb(27, 1, 1);
	border-top: 0;
	background-color: black;
}

.music-track {
	width: 100%;
	text-align: justify;
	color: white;
	border-bottom: 1px solid white;
	font-family: cursive;
}

p.artist {
	font-size: 1em;
	margin: 0 0 0.6em 0.6em;
	font-size: 1.2em;
	font-weight: bolder;
}

p.title {
	margin: 0 0 0 0.6em;
	font-style: italic;
}

.expand-container{
  display: none;
}


@media only screen and (max-width: 768px) {
	.music-list {
		position: absolute;
		width: 250px;
    height: 100%;
    margin-top: 4.5rem;
    transform: translateX(-252px);
    transition: margin-left .5s ease-in-out
  }
  
  .expand-container{
    display: block;
    height: 1.3rem;
    width: 2.2rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    justify-content: flex-end;
    padding: .3rem;
    margin-top: 5rem;
    position: absolute;
    background-color: red;
    border: 1px solid rgb(17, 1, 1);
    cursor: pointer;
    transition: margin-left .5s ease-in-out
  }

  .expand{
    width: 1.5rem;
    height: 1.5rem;
    
    /* border-radius: 50%; */
    background-image: url('../images/list.png');
    background-size: cover;
    /* background-color: rgb(17, 1, 1); */
  }


}
