.current-song{
    grid-area: body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: black;
  }
  
  .image-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
  }

  .current-songname{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    color: white;
    font-style: italic;
    text-overflow: ellipsis;
  }
  
  .image-container img{
    /* animation-name: spin; */
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    height: 100vw;
    width: 100vw;
    max-height: 31rem;
    max-width: 31rem;
  }
  
  @keyframes spin{
    to{
      transform: rotateZ(360deg);
    }
  }  

  @media only screen and (max-height: 660px) {
    .image-container img{
      height: 45vh;
      width: 45vh
    }
  }
  