@import url('./styles/headerStyle.css');
@import url('./styles/musicControlsStyle.css');
@import url('./styles/musicListStyle.css');
@import url('./styles/vinylRecordStyle.css');

html,
body,
#root {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#root {
	display: grid;
	grid-template-areas:
		'header header'
		'list body'
		'list controls';
	grid-template-columns: 15rem auto;
	grid-template-rows: 4.5rem minmax(30%, auto) 5rem;
}

button {
	background: none;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}

@media only screen and (max-width: 768px) {
	#root {
		grid-template-areas:
			'header header'
			'body body'
			'controls controls';
		grid-template-columns: 1fr;
	}
}
