@import url('./styles/headerStyle.css');
@import url('./styles/musicControlsStyle.css');
@import url('./styles/musicListStyle.css');
@import url('./styles/vinylRecordStyle.css');

html, body{
  height: 100%;
  width: 100%
}

#root{
  display: grid;
  min-height: 100%;
  grid-template-areas:
      "header header header"
      "list body body"
      "list controls controls";
  grid-template-columns: 250px 3fr 1fr;
  grid-template-rows: 100px 1fr 100px;
}

button{
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

